In [1]:
# First, you need to import the Pandas library
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)

# Displaying the DataFrame
print("DataFrame:")
print(df)

# Accessing columns
print("\nAccessing columns:")
print(df['Name'])  # Accessing a single column
print(df[['Name', 'Age']])  # Accessing multiple columns

# Accessing rows
print("\nAccessing rows:")
print(df.loc[0])  # Accessing a single row by label
print(df.iloc[1])  # Accessing a single row by integer index
print(df[1:3])  # Accessing multiple rows by slicing

# Adding a new column
df['Gender'] = ['Female', 'Male', 'Male', 'Male']
print("\nAfter adding a new column:")
print(df)

# Removing a column
df.drop(columns=['City'], inplace=True)
print("\nAfter removing a column:")
print(df)

# Filtering data
print("\nFiltering data:")
print(df[df['Age'] > 30])  # Filtering based on a condition

# Sorting data
print("\nSorting data:")
print(df.sort_values(by='Age', ascending=False))  # Sorting by Age in descending order

# Basic statistics
print("\nBasic statistics:")
print(df.describe())  # Summary statistics for numerical columns

# Reading from and writing to files
df.to_csv('data.csv', index=False)  # Writing to a CSV file
file_path = r"C:\Users\asus\Downloads\city_day.csv"
df_from_csv = pd.read_csv(file_path)  # Reading from a CSV file
print("\nDataFrame from CSV:")
print(df_from_csv)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

Accessing columns:
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

Accessing rows:
Name       Alice
Age           25
City    New York
Name: 0, dtype: object
Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

After adding a new column:
      Name  Age         City  Gender
0    Alice   25     New York  Female
1      Bob   30  Los Angeles    Male
2  Charlie   35      Chicago    Male
3    David   40      Houston    Male

After removing a column:
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male
3    David   40    Male

Filtering data:
      Name  Age Gender
2  Charlie   35   Male
3    David   40   Male

Sorting data:
      Name  Age  Gender
3    David   40    Male
2  Charlie   35    Male
1      Bob   30    Male
0    Alice   25  Female

Basic statistics:
             Age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000

DataFrame from CSV:
                City        Date  PM2.5   PM10     NO    NO2    NOx    NH3  \
0          Ahmedabad  2015-01-01    NaN    NaN   0.92  18.22  17.15    NaN
1          Ahmedabad  2015-01-02    NaN    NaN   0.97  15.69  16.46    NaN
2          Ahmedabad  2015-01-03    NaN    NaN  17.40  19.30  29.70    NaN
3          Ahmedabad  2015-01-04    NaN    NaN   1.70  18.48  17.97    NaN
4          Ahmedabad  2015-01-05    NaN    NaN  22.10  21.42  37.76    NaN
...              ...         ...    ...    ...    ...    ...    ...    ...
29526  Visakhapatnam  2020-06-27  15.02  50.94   7.68  25.06  19.54  12.47
29527  Visakhapatnam  2020-06-28  24.38  74.09   3.42  26.06  16.53  11.99
29528  Visakhapatnam  2020-06-29  22.91  65.73   3.45  29.53  18.33  10.71
29529  Visakhapatnam  2020-06-30  16.64  49.97   4.05  29.26  18.80  10.03
29530  Visakhapatnam  2020-07-01  15.00  66.00   0.40  26.85  14.05   5.20

          CO    SO2      O3  Benzene  Toluene  Xylene   AQI    AQI_Bucket
0       0.92  27.64  133.36     0.00     0.02    0.00   NaN           NaN
1       0.97  24.55   34.06     3.68     5.50    3.77   NaN           NaN
2      17.40  29.07   30.70     6.80    16.40    2.25   NaN           NaN
3       1.70  18.59   36.08     4.43    10.14    1.00   NaN           NaN
4      22.10  39.33   39.31     7.01    18.89    2.78   NaN           NaN
...      ...    ...     ...      ...      ...     ...   ...           ...
29526   0.47   8.55   23.30     2.24    12.07    0.73  41.0          Good
29527   0.52  12.72   30.14     0.74     2.21    0.38  70.0  Satisfactory
29528   0.48   8.42   30.96     0.01     0.01    0.00  68.0  Satisfactory
29529   0.52   9.84   28.30     0.00     0.00    0.00  54.0  Satisfactory
29530   0.59   2.10   17.05      NaN      NaN     NaN  50.0          Good

[29531 rows x 16 columns]